# Telegram Bot Configuration
BOT_TOKEN=your_bot_token_here

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/payecards_bot

# Admin Configuration, you can add multiple admin IDs separated by commas. Get your Telegram user ID from @userinfobot
ADMIN_IDS=123456789,987654321

# CoinGecko API Configuration
COINGECKO_API_URL=https://api.coingecko.com/api/v3