/.github
/.vscode
/notes
/db
/dist
/build

# Runtime logs
logs
*.log

# Deno specific
.deno/

# OS
.DS_Store
Thumbs.db

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local